

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.lista-a{
    -moz-border-radius: 10px !important;;
 -webkit-border-radius:10px !important;;
 margin: 2%
    
}

.lista-name-fecha {
    width:100%;
    height: 40px;
}
.lista-name{

    width:70%;
    display:inline-block;
    float:left;
}
.lista-fecha{

    width:30%;
    display:inline-block;
    float:right;
}
.lista-center{
    
   text-align:center;
}














